<div class="container signup">
  <h4>Login form</h4>
  <div class="error_messages"><%= flash['alert'] %></div>
  <%= form_tag sessions_path do %>
    <div>
      <%= email_field_tag :email, "", placeholder: "Email address" %>
    </div>
    <div>
      <%= password_field_tag :password, "", placeholder: "Password" %>
    </div>
    <div>
      <%= submit_tag "Signin", class: "btn" %>
    </div>
  <% end %>
</div>
