<div class="" id="passengers">
  <div>
    <h5><%= @booking.flight.airline %>
      <span class="flight-no">Flight NO: <%= @booking.flight.id %></span>
    </h5>
    
    <div class="row">
      <div class="col l5">
        <div>
          <%= @booking.flight.origin_airport.name + ", " + @booking.flight.origin_airport.state %> state
        </div>
        <div>
          <% d_date = Date.parse(@booking.flight.departure_datetime.to_s) %>
          <%= d_date.strftime("%A, #{d_date.day.ordinalize} %b %Y") %>
          <% d_time = Time.parse(@booking.flight.departure_datetime.to_s) %>
          <%= d_time.strftime("%l:%M %P") %>
        </div>
      </div>
      <div class="col l2"> >>> </div>
      <div class="col l5">
        <div>
          <%= @booking.flight.destination_airport.name + ", " + @booking.flight.destination_airport.state %> state
        </div>
        <div>
          <% d_date = Date.parse(@booking.flight.arrival_datetime.to_s) %>
          <%= d_date.strftime("%A, #{d_date.day.ordinalize} %b %Y") %>
          <% d_time = Time.parse(@booking.flight.arrival_datetime.to_s) %>
          <%= d_time.strftime("%l:%M %P") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l7">---------------------------------------------------
      ----------------------------------------------></div>
      <div class="bold col l5">Booking Number: <%= @booking.booking_number %></div>
    </div>
  </div>
  <%= render partial: "bookings/passengers" %>
</div>