<div class="container body">
  <div class="booking">
    <% if @bookings.blank? %>
      <p>You have not booked any flight with us. :D</p>
    <% else %>
      <table class="bordered">
        <thead>
          <tr>
            <th>Book Number</th>
            <th>Airline</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Passengers</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @bookings.each do |booking| %>
            <tr>
              <td>
                <%= booking.booking_number %>
              </td>
              <td>
                <%= booking.flight.airline %>
              </td>
              <td>
                <div>
                  <%= booking.flight.origin_airport.decorate.name_with_state %>
                </div>
                <div>
                  <%= booking.flight.departure_datetime %>
                </div>
              </td>
              <td>
                <div>
                  <%= booking.flight.destination_airport.decorate.name_with_state %>
                </div>
                <div>
                  <%= booking.flight.arrival_datetime %>
                </div>
              </td>
              <td>
                <%= booking.passengers.size %>
              </td>
              <td>
                <div>
                  <% if booking.flight.departure_datetime > Time.now %>
                    <span><%= link_to "Update", edit_booking_path(booking.id) %></span> |
                    <span><%= link_to "Cancel", booking_path(booking.id), method: :delete %></span>
                  <% else %>
                    <span>departed</span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
